---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ control_plane_endpoint }}:6443"  # Virtual IP or load balancer IP with port
networking:
  podSubnet: {{ pod_subnet }}/16
  serviceSubnet: {{ service_subnet }}/16
apiServer:
  certSANs:
    {% for name in master_names %}
    - {{ name }}
    {% endfor %}
    {% for ip in master_ips %}
    - {{ ip }}
    {% endfor %}
    - {{ control_plane_endpoint }}
etcd:
  local:
    serverCertSANs:
      {% for name in master_names %}
      - {{ name }}
      {% endfor %}
      - {{ control_plane_endpoint }}
      {% for ip in master_ips %}
      - {{ ip }}
      {% endfor %}
      - 127.0.0.1
      - ::1
    peerCertSANs:
      {% for name in master_names %}
      - {{ name }}
      {% endfor %}
      - {{ control_plane_endpoint }}
      {% for ip in master_ips %}
      - {{ ip }}
      {% endfor %}
      - 127.0.0.1
      - ::1
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ ip_address }}"
  bindPort: 6443
nodeRegistration:
  name: {{ vm_name }}
  kubeletExtraArgs:
    node-ip: {{ ip_address }}